* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background: fixed;
  background-image: url(night-sky.webp);
  background-size: 100%;
}

.window {
  width: 650px;
  height: 700px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.85);
}